<!-- <mat-sidenav-container autosize> -->
  <mat-sidenav
    #sidenav
    mode="side"
    [(opened)]="toggleOpen">
    <div class="sidenav">
      <div style="margin-bottom: 4em;"></div>
      <div style="padding-top: 1.5em; margin-left: 1.5em; color: white">
      <span style="font-size: 24px; font-weight: bold;">My portfolios</span><br><br>
      Portfolio-1<br>
      Portfolio-2<br>
      Portfolio-3<br>
      Portfolio-4<br><br>
      <hr style="margin-right: 1.5em; background-color: white;"><br>
      <span style="font-size: 24px; font-weight: bold;">My groups</span><br><br>
      Group-1<br>
      Group-2<br>
      Group-3<br><br>
      </div>
    </div>
  </mat-sidenav>
<!-- </mat-sidenav-container> -->
