<div class="header">
  <nav class="navbar navbar-expand navbar-dark bg-dark fixed-top">
    <a *ngIf="auth.user | async; else disableSidebar" class="navbar-brand" (click)="toggleSidebar()">
      <img class="nav-icons" src="./../../assets/images/scorpion-black.png" style="height: 2em; margin-left: 1em; cursor: pointer;">
    </a>
    <ng-template #disableSidebar>
      <a class="navbar-brand">
        <img src="./../../assets/images/scorpion-black.png" style="height: 2em; margin-left: 1em;">
      </a>
    </ng-template>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/friends" routerLinkActive="active">Friends<span class="sr-only">(current)</span></a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link">About</a>
        </li> -->
      </ul>
      <ul class="nav-bar nav">
        <li>
          <!-- <a class="nav-link">Contact</a> -->
          <span
            mat-button
            [matMenuTriggerFor]="menu"
            class="nav-icons"
            style="padding-right: 10px; cursor: pointer; color: white">{{ user }} &nbsp;&nbsp;
            <i class="fa fa-cog fa-lg nav-icons" style="color: white;"></i>
          </span>
          <mat-menu #menu="matMenu" [overlapTrigger]="false">
            <div style="margin-bottom: 19px"> </div>
            <button mat-menu-item class="menu-item" (click)="setTheme('light')">
              <i class="fa fa-sun-o" style="margin-right: 5px;"></i> Light mode
            </button>
            <button mat-menu-item class="menu-item" (click)="setTheme('dark')">
              <i class="fa fa-moon-o" style="margin-right: 5px;"></i> Nightshade
            </button>
            <hr style="margin-left: 0.6em; margin-right: 0.6em; background-color: grey">
            <a *ngIf="auth.user | async; else notAuthenticated">
              <button mat-menu-item class="menu-item" (click)="logout()">
                <i class="fa fa-sign-out" style="margin-right: 10px;"></i>Sign out
              </button>
            </a>
            <ng-template #notAuthenticated>
              <button mat-menu-item class="menu-item" (click)="login()">
                <i class="fa fa-sign-out" style="margin-right: 10px;"></i>Sign in
              </button>
            </ng-template>
          </mat-menu>
        </li>
      </ul>
    </div>
  </nav>
</div>
