// .header {
//   margin-bottom: 5em;
// }

// .sign-in {
//   color: white;
// }

.sign-in:hover {
  // color: #D3D3D3;
  font-style: underline;
}

img {
  filter: invert(100%);
}

.nav-icons:hover {
  filter: invert(50%);
  // filter: sepia(50%);
}

.menu-item:focus {
  outline:none;
  box-shadow:none;
}
