<hr>
<form
  novalidate
  [formGroup]="tradeForm"
  (ngSubmit)="onSubmit()"
  class="trade">
  <!-- <mat-form-field>
    <mat-select
      placeholder="Buy or sell?"
      formControlName="type"
      [(value)]="transaction.type">
      <mat-option value="Buy">Buy</mat-option>
      <mat-option value="Sell">Sell</mat-option>
    </mat-select>
  </mat-form-field> -->
  <mat-form-field>
    <input
      autocomplete="off"
      matInput
      id="code"
      formControlName="code"
      required
      type="text"
      class="form-control"
      placeholder="Company code..."
      style="text-transform: uppercase">
  </mat-form-field>
  <mat-form-field>
    <input
      autocomplete="off"
      matInput
      id="qunatity"
      formControlName="quantity"
      required
      type="text"
      class="form-control"
      placeholder="Quantity...">
  </mat-form-field>
  <button
    mat-raised-button
    [disabled]="tradeForm.invalid"
    type="submit"
    color="primary">Preview trade</button>
</form>
