<form>
  
  <mat-form-field>
    <input
      type="text"
      placeholder="Search for company..."
      matInput
      type="text"
      [matAutocomplete]="auto"
      [formControl]="companySearchControl">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option
        *ngFor="let company of filteredOptions | async"
        [value]="company">
        {{ company }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <button
    class="search-button"
    mat-raised-button
    (click)="navigateToUrl()"
    color="primary">Search
  </button>

</form>
