<form style="margin-top: 50px;" (ngSubmit)="navigateToUrl()">
  <mat-form-field>
    <input
      class="search"
      type="text"
      placeholder="Search for company..."
      matInput
      type="text"
      [matAutocomplete]="auto"
      [formControl]="companySearchControl"
      color="black">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option *ngFor="let company of filteredOptions | async" [value]="company">
        {{ company }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <button class="search-button" mat-raised-button type="submit">
    Search
  </button>
</form>
