<form style="margin-top: 100px;" (ngSubmit)="navigateToUrl()">
  <mat-form-field>
    <input
      class="search"
      type="text"
      [placeholder]="placeholder"
      matInput
      [matAutocomplete]="auto"
      [formControl]="formSearchControl"
      color="black">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option *ngFor="let search of filteredOptions | async" [value]="search">
        {{ search }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <button class="search-button" mat-raised-button type="submit">
    Search
  </button>
</form>
