.mat-card {
  margin-top: 0.5em;
  min-height: 500px;
}

.mat-tab-group ::ng-deep.mat-tab-label, ::ng-deep.mat-tab-label-active{
  // max-width: 16em;
  // min-width: 9em;
  // width: 60%;
  min-width: 10.8em;
}

.loading {
  text-align: center;
  font-size: 22px;
  display: inline-block;
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mat-spinner {
  margin-top: 2em;
  margin-left: 1.25em;
}
