<div class="security-expanded">
  <div class="row security-expanded">

    <!-- <div clas="col-md-4" style="margin-right:4em">
      <img [src]="imgUrl">
    </div> -->

    <div clas="col-md-4">
      <div class="security-box" routerLink="/share/{{security.code.toLowerCase()}}" routerLinkActive="active">
        <span class="security-name">{{ security.companyName }}</span>
        <!-- <br>
        <span class="security-industry">{{ security.industry }}</span> -->
        <div>
          <span class="security-price" style="font-size:22px; padding-right: 10px; opacity: 0.5;">${{ security.lastPrice | number:'1.2-2' }} AUD &nbsp;&nbsp; /</span>
          <!-- <br> -->
          <span
            [ngClass]="{'gains-class-positive' : security.lastPrice - security.open > 0,
                        'gains-class-negative' : security.lastPrice - security.open < 0}">
          <span *ngIf="securityClose - securityOpen > 0">+ </span>
          {{ security.lastPrice - security.open | number: '1.2-2' }}
          <span style="padding-left: 5px;"> </span>
          ({{ (security.lastPrice - security.open) / (security.open) | number: '1.3-3' }}%)</span>
        </div>
      </div>
    </div>

    <div clas="col" style="margin-right:4px">
      <b>Open:</b> <br>
      <b>Day high:</b> <br>
      <b>Day low:</b> <br>
      <b>Daily volume:</b> <br>
    </div>
    <div clas="col" style="margin-left:4px; margin-right:70px">
      {{ security.open }} <br>
      {{ security.high }}  <br>
      {{ security.low }}  <br>
      {{ security.volumeDaily?.toLocaleString() }} <br>
    </div>
    <div clas="col" style="margin-right:4px">
      <b>P/E:</b> <br>
      <b>EPS:</b> <br>
      <b>Annual divident yield:</b>
    </div>
    <div clas="col" style="margin-left:4px;">
      N/A <br>
      N/A <br>
      N/A
    </div>
  </div>
</div>
<!-- <button mat-raised-button (click)='tradeExistingShares()'>Click me</button> -->
