.security-expanded {
  padding: 23px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
  // border-bottom: 1px solid #e0e0e0;
}

img {
    // border: 2px solid;
    // border-radius: 4px;
    padding: 5px;
    width: 150px;
}

.security-box {
  width: 300px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  height: 90px;
  margin-right: 50px;
}

.security-box:hover {
  background-color: rgba(211,211,211,0.3);
  cursor: pointer;
}

.security-name {
  font-weight: bold;
  font-size: 16px;
  line-height: normal;
}

.security-industry {
  font-size: 8px;
  opacity: 0.5;
  line-height: normal;
}

.gains-class-positive {
  color:rgba(75,181,67,0.9);
}

.gains-class-negative {
  color:rgba(255,0,0,0.7);
}
