<hr>
<form
  novalidate
  [formGroup]="tradeForm"
  (ngSubmit)="getDetails()"
  class="trade">
  <!-- <mat-form-field>
    <mat-select
      placeholder="Buy or sell?"
      formControlName="type"
      [(value)]="transaction.type">
      <mat-option value="Buy">Buy</mat-option>
      <mat-option value="Sell">Sell</mat-option>
    </mat-select>
  </mat-form-field> -->
  <mat-form-field>
    <input
      autocomplete="off"
      matInput
      id="code"
      formControlName="code"
      required
      type="text"
      class="form-control"
      placeholder="Company code..."
      style="text-transform: uppercase">
  </mat-form-field>
  <mat-form-field>
    <input
      autocomplete="off"
      matInput
      id="qunatity"
      formControlName="volume"
      required
      type="text"
      class="form-control"
      placeholder="Quantity...">
  </mat-form-field>
  <button
    mat-raised-button
    (type)="submit"
    (click)="getDetails()"
    color="primary">Preview trade</button>
  <div class="row">
    <p> price for the share {{code}} is {{price}}</p>
    <button
      mat-raised-button
      [disabled]="tradeForm.invalid"
      (type)="submit"
      color="success">Make trade</button>

  </div>

</form>
