.login {
  // position: absolute;
  // z-index: 15;
  // top: 30%;
  // left: 50%;
  // margin: -100px 0 0 -150px;
  display: table;
  margin: 0 auto;
}

.mat-card {
  margin-top: 3.5em;
  width: 400px;
}

.social-icons i {
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 0.5em;
  margin-bottom: 0.7em;
}

.social-icons i:hover {
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 0.5em;
  margin-bottom: 0.7em;
  border-bottom: 2px solid #ff9e22;
  cursor: pointer;
}

.div p {
  width: 70%;
  margin: .7em auto;
  overflow: hidden;
  text-align: center;
  color: rgba(0, 0, 0, 0.2);
}
p:before, p:after {
  content: "";
  display: inline-block;
  width: 35%;
  margin: 0 .5em 0 -55%;
  vertical-align: middle;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
p:after {
  margin: 0 -55% 0 .5em;
}

.forgot {
  font-size: 11px;
  opacity: 0.5;
}

.forgot:hover {
  text-decoration: underline;
  cursor: pointer;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}
