<div *ngIf="!user" class="holdings-header">Current holdings</div>

<div class="example-header">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search in holdings...">
  </mat-form-field>
</div>

<div class="example-container mat-elevation-z1">
	<mat-table [dataSource]="dataSource" matSort>

		<!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

		<ng-container matColumnDef="code">
			<mat-header-cell *matHeaderCellDef mat-sort-header> Code </mat-header-cell>
			<mat-cell *matCellDef="let security"> {{ security.code }} </mat-cell>
      <mat-footer-cell *matFooterCellDef style="margin-right: -18px;">Totals</mat-footer-cell>
		</ng-container>

		<ng-container matColumnDef="purchasePrice">
			<mat-header-cell *matHeaderCellDef mat-sort-header> Purchase price </mat-header-cell>
			<mat-cell *matCellDef="let security"> {{ security.purchasePrice | number:'1.3-3' }} </mat-cell>
      <mat-footer-cell *matFooterCellDef></mat-footer-cell>
		</ng-container>

    <ng-container matColumnDef="lastPrice">
			<mat-header-cell *matHeaderCellDef mat-sort-header> Last price </mat-header-cell>
			<mat-cell *matCellDef="let security"> {{ security.lastPrice | number:'1.3-3' }} </mat-cell>
      <mat-footer-cell *matFooterCellDef style="margin-right: 3px;"></mat-footer-cell>
		</ng-container>

		<ng-container matColumnDef="volume">
			<mat-header-cell *matHeaderCellDef mat-sort-header> Volume </mat-header-cell>
			<mat-cell *matCellDef="let security"> {{ security.volume }} </mat-cell>
      <mat-footer-cell *matFooterCellDef>{{ totalVolume }}</mat-footer-cell>
		</ng-container>

    <ng-container matColumnDef="value">
			<mat-header-cell *matHeaderCellDef mat-sort-header> Value </mat-header-cell>
			<mat-cell *matCellDef="let security"> {{ security.value | number:'1.2-2' }} </mat-cell>
      <mat-footer-cell *matFooterCellDef>{{ totalValue | number:'1.2-2' }}</mat-footer-cell>
		</ng-container>

    <ng-container matColumnDef="gain">
			<mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'gains-class'"> +/- </mat-header-cell>
			<mat-cell
        *matCellDef="let security"
        [ngClass]="{'gains-class-positive' : security.gain > 0, 'gains-class-negative' : security.gain < 0, 'gains-class-flat' : security.gain == 0}">
        {{ security.gain | number:'1.3-3' }}
      </mat-cell>
      <mat-footer-cell *matFooterCellDef style="margin-left: 5px;">{{ totalGain | number:'1.3-3' }}</mat-footer-cell>
		</ng-container>

    <ng-container matColumnDef="gainAsPercentage">
			<mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'gains-class'"> % </mat-header-cell>
			<mat-cell
        *matCellDef="let security"
        [ngClass]="{'gains-class-positive' : security.gain > 0, 'gains-class-negative' : security.gain < 0, 'gains-class-flat' : security.gain == 0}">
        {{ security.gainAsPercentage | number:'1.3-3' }}
      </mat-cell>
      <mat-footer-cell *matFooterCellDef style="margin-left: 3px;">{{ totalGainAsPercentage | number:'1.3-3' }}</mat-footer-cell>
		</ng-container>

    <ng-container matColumnDef="updatedAt">
			<mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'gains-class'"> Added </mat-header-cell>
			<mat-cell *matCellDef="let security" [ngClass]="'dates-col'">{{ security.updatedAt?.toDate() | date:'medium' }}</mat-cell>
      <mat-footer-cell *matFooterCellDef style="margin-left: 1px;"></mat-footer-cell>
		</ng-container>

		<mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
		<mat-row *matRowDef="let row; columns: displayedColumns;" matRipple class="security-row" [cdkDetailRow]="row" [cdkDetailRowTpl]="tpl"></mat-row>
    <mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></mat-footer-row>
	</mat-table>
	<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>

<ng-template #tpl let-security>
	<div class="mat-row detail-row" [@detailExpand] style="overflow: hidden">
		<app-existing-security [security]="security"></app-existing-security>
    <!-- <hr> -->
	</div>
</ng-template>
