.signup {
  // position: absolute;
  // z-index: 15;
  // top: 30%;
  // left: 50%;
  // right: 50%;
  // margin: -100px 0 0 -150px;
  display: table;
  margin: 0 auto;
}

.mat-card {
  margin-top: 3.5em;
  width: 500px;
}

span {
  display: table;
  margin: 0 auto;
}

.stepper {
  // display: table;
  // margin: 0 auto;
  margin-left: 18%;
  margin-right: 22%;
}

.confirm {
  background-color:rgba(75,181,67,0.3);
  display: table;
  margin: 0 auto;
}

// img {
//   width:150px;
//   height:150px;
//   border-radius:50%;
//   overflow:hidden;
// }
